.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* border: 2px solid red; */
}

.main .para {
  width: 10rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.main .amount,
.main .pieces,
.main .total {
  margin-right: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .main .amount,
  .main .pieces,
  .main .total {
    margin: 1rem;
    font-size: 1rem;
  }
  .main .para {
    font-size: 1rem;
  }
}
